/************* Message d'alerte en haut de page ******************************/
#alert{
    display:none;
}

#loading{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: #999;
	z-index:1000;
	opacity: .7;
	display:none;
}
#loading_img{
	position: absolute;
	top:50%;
	left:50%;
	height:100px;
	margin-left:-50px;
	margin-top:-50px;
}

.loading_td{
	text-align:center;
}